<!-- header.navbar.bg-primary.text-white -->

<header class="p-3 
               navbar 
               text-white 
               d-flex 
               align-items-start
               flex-column">
    <h1>UCL</h1>
    <h2>{{pageTitle}}</h2>
</header>
<nav class="bg-light">
    <ul ngbNav class="nav-tabs">
        <li [ngbNavItem]="1">
            <a ngbNavLink routerLink="/app">Home</a>
        </li>
        <li [ngbNavItem]="2">
            <a ngbNavLink routerLink="/app/message">Message</a>
        </li>
        <li [ngbNavItem]="3">
            <a ngbNavLink routerLink="/app/info">Info</a>
        </li>
    </ul>
</nav>

<main class="p-5">
    <ng-content></ng-content>
</main>

<footer class="p-4 navbar bg-dark text-white fixed-bottom">
    <h4>Footer Info</h4>
    <p class="text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, sunt consectetur quod
        corporis tenetur ipsam temporibus nam quas illum impedit odio optio consequuntur, quia quo rerum nihil. In,
        nobis pariatur?</p>
</footer>

<ng-template #content let-modal>
    <h1 class="text-center">Application Paused</h1>
</ng-template>