/* You can add global styles to this file, and also import other style files */
:root{
    --ucl-primary-color:#002d62;
    --ucl-secondary-color:#8fb1ce;
    --ucl-emphasis-color:#4fb2e4;
    --ucl-text-color:var(--ucl-secondary-color);
}

body{}