<ucl-card cardTitle="Create new account.">

    <!-- div.d-flex.flex-column>input.form-control*2 -->
    <div class="d-flex flex-column">
        <input class="form-control m-2" 
            placeholder="Email"
            [(ngModel)]="credentials.email">
        <input class="form-control m-2" 
            placeholder="Password"
            [(ngModel)]="credentials.password">
        <input class="form-control m-2" 
            placeholder="Password Control"
            [(ngModel)]="credentials.controlPassword">
    </div>

    <ucl-button [disabled]="true" (click)="requestRegistration()">Register</ucl-button>

</ucl-card>